/* import base css from main css file */
@import '../index.css'; 

/* component specific styles */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
} 

nav ul li a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--clr-secondary);
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--bg-primary);
  color: var(--clr-primary);
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.event-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 340px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.event-details span {
  display: block;
}