@import './index.css';

.band-logo {
  display: block;
  margin: 2rem auto;
  max-width: 300px;
}

.band-photo {
  display: block;
  margin: 2rem auto;
  max-width: 600px;
  border-radius: 10px;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: bold;
}