:root {
  /* font schema */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* color pallette */
    --bg-primary:#1d2327;
    --clr-primary: #6F7B6F;
    --clr-secondary: #353A2B;
    --clr-accent: #493B49;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-primary);
  color: var(--clr-primary);
}
